@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import "tailwindcss";

.body {
  background-color: rgb(255, 255, 255);
  margin:0;
  background-image: 
    radial-gradient(circle, transparent 20%, black 150%),
    linear-gradient(to right, #1f2937 1px, transparent 1px),
    linear-gradient(to bottom, #1f2937 1px, transparent 1px);

}
.nyt-masthead {
  font-family: 'UnifrakturMaguntia', serif !important;
  text-transform: none !important; 
  letter-spacing: -0.01em;
  font-weight: 400;
}